<footer class="footer">
  <small>
    <a href="#">Rails tutorial</a>
    by otokunaga
    <nav>
      <ul>
        <li><%= link_to "About", '#' %></li>
        <li><%= link_to "Help", '#' %></li>
      </ul>
    </nav>
  </small>
</footer>
